@charset "utf-8";
/* CSS Document */

body
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;	
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background: #56A5EC;
}

fieldset
{
	margin: 0 auto;
	padding: 0;
	width: 500px;
	height: 400px;
	text-align: center;
	border: none;
}

h1
{
	font-size: 50px;	
}

section
{
	margin-top: 10px;	
}

#floater
{
	float: left;
	height: 50%;
	width: 100%;
	margin-bottom: -50px;
}

#content
{
	clear: both;
	padding-top: 5px;
	padding-bottom: 20px;
}

input[type="text"]
{
	width: 100px;	
	padding: 10px;
	border: none;
	border-bottom: 1px solid #012345;
	background: #CCC;
	width: 100px;
	height: 60px;
	text-align: center;
	font-size: 65px;
}

button
{
	width: 100px;
	padding: 8px;
	border: none;
	font-size: 80%;
	border: none;
	border-radius: 5px;
	color: #FFF;
}

#submitButton
{
	background: #0C3;	
	color: #FFF;
}

#resetButton
{
	background: #F00;
	color: #FFF;	
}

#o-circle
{
	border-radius: 50%;
	border: 20px solid #000;
	height: 300px;
	width: 300px;
	margin: 0 auto;	
	margin-bottom: 20px;
	color: #999;
	background: #FFF;
}

#circle
{
	border-radius: 50%;
	border: 1px solid #CCC;
	height: 300px;
	width: 300px;
	margin: 0 auto;
	border: 1px solid #999;
	color: #999;
	line-height: 300px;
	font-size: 36px;
	background: #CCC;
}

.hotcolor
{
	color: #E42217;	
}

.coldcolor
{
	color: #56A5EC;	
}

#status
{
	font-size: 50px;
	color: #FFF;	
}
